<?php

echo '<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3>';
echo $this->__('Delete Credit Memo');
echo '</h3></td>
            <td class="a-right">
                <button onclick="deleteCreditMemo.submit()" class="scalable save" type="button">';
echo '<s';
echo 'pan>Delete Credit Memo</span></button>
            </td>
        </tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td>
				';
echo '<s';
echo 'pan>';
echo $this->__('Warning! Delete Credit Memo will automatically delete the creditmemo only. The Order ID, Invoice, Shipment (if any), RMA (if any) will not be deleted. All information will be reset back to previous state as if there was no creditmemo created before. Please backup first. Once you hit the Delete button, you can not retrieve it back.');
echo '</span><br/><br/>
                ';
echo '<s';
echo 'pan>';
echo $this->__('If you also want to delete Shipment, please make sure you delete in a reverse sequence. For example: If you created Shipment first, then you have to delete Credit Memo first. This is to maintain the correct Order Status');
echo '</span>
			</td>
		</tr>
    </table>
</div>
<div class="entry-edit">
    <form id="delete_creditmemo" name="delete_creditmemo" method="post" action="';
echo $this->getUrl('*/*/delete');
echo '">
        <input name="form_key" type="hidden" value="';
echo Mage::getsingleton('core/session')->getFormKey();
echo '" />
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Single Credit Memo');
echo '</h4>
        <fieldset id="vjt-single-creditmemo">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label">';
echo $this->__('Credit Memo ID');
echo '</td>
                    <td class="value"><input class="input-text" name="creditmemo" /></td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to previous number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleCreditMemoReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleCreditMemoReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Multiple Credit Memos');
echo '</h4>
        <fieldset id="vjt-multiple-creditmemo">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td colspan="3">
                        ';
echo '<s';
echo 'pan>';
echo $this->__('Note: The Credit Memo ID numbers must be continous! If you put discontinous Credit Memo IDs, the process will stop at the unavailable Credit Memo ID');
echo '</span><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Credit Memo ID From:');
echo '</td>
                    <td class="value"><input class="input-text" name="creditmemoFrom" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Credit Memo ID To:');
echo '</td>
                    <td class="value"><input class="input-text" name="creditmemoTo" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to number right before the "Credit Memo ID From" number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleCreditMemoReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleCreditMemoReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
			</table>
        </fieldset>
	</form>
</div>
';
echo '<s';
echo 'cript type="text/javascript">
    var deleteCreditMemo = new varienForm(\'delete_creditmemo\');
</script>';
