<?php

echo '<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3>';
echo $this->__('Delete Order');
echo '</h3></td>
            <td class="a-right">
                <button onclick="deleteOrder.submit()" class="scalable save" type="button">';
echo '<s';
echo 'pan>Delete Order</span></button>
            </td>
        </tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td>
				';
echo '<s';
echo 'pan>';
echo $this->__('Warning! Delete Order will automatically delete the Order(s), Invoice(s), Credit Memo(s), Shipment(s), and RMA(s) (RMA for Enterprise Edition only) that are associated with the deleted Order ID. All information will be reset back to previous state as if there was no order created before. Please backup first. Once you hit the Delete button, you can not retrieve it back.');
echo '</span><br/><br/>
			</td>
		</tr>
    </table>
</div>
<div class="entry-edit">
    <form id="delete_order" name="delete_order" method="post" action="';
echo $this->getUrl('*/*/delete');
echo '">
        <input name="form_key" type="hidden" value="';
echo Mage::getsingleton('core/session')->getFormKey();
echo '" />
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Single Order');
echo '</h4>
        <fieldset id="vjt-single-order">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label">';
echo $this->__('Order ID');
echo '</td>
                    <td class="value"><input class="input-text" name="order" /></td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to previous number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleOrderReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleOrderReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Multiple Orders');
echo '</h4>
        <fieldset id="vjt-multiple-order">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td colspan="3">
                        ';
echo '<s';
echo 'pan>';
echo $this->__('Note: The Order ID numbers must be continous! If you put discontinous Order IDs, the process will stop at the unavailable Order ID');
echo '</span><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Order ID From:');
echo '</td>
                    <td class="value"><input class="input-text" name="orderfrom" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Order ID To:');
echo '</td>
                    <td class="value"><input class="input-text" name="orderto" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to number right before the "Order ID From" number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleOrderReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleOrderReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
			</table>
        </fieldset>
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Reset All Auto Increments to 1');
echo '</h4>
        <fieldset id="vjt-multiple-order">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td colspan="3">
                        ';
echo '<s';
echo 'pan>';
echo $this->__('Warning! Select this option only if you have deleted all the test orders above and want to start everything else from 1. This is a good option if you want to move from development phase to production phase.');
echo '</span><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset all Auto Increment in database back to 1?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="autoIncrementReset">
                    	<option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
			</table>
        </fieldset>
	</form>
</div>
';
echo '<s';
echo 'cript type="text/javascript">
    var deleteOrder = new varienForm(\'delete_order\');
</script>';
