<?php


echo '<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3>';
echo $this->__('Delete Shipment');
echo '</h3></td>
            <td class="a-right">
                <button onclick="deleteShipment.submit()" class="scalable save" type="button">';
echo '<s';
echo 'pan>Delete Shipment</span></button>
            </td>
        </tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td>
				';
echo '<s';
echo 'pan>';
echo $this->__('Warning! Delete Shipment will automatically delete the shipment only. The Order ID, Invoice (if any), Credit Memo (if any), RMA (if any) will not be deleted. All information will be reset back to previous state as if there was no shipment created before. Please backup first. Once you hit the Delete button, you can not retrieve it back.');
echo '</span><br/><br/>
                ';
echo '<s';
echo 'pan>';
echo $this->__('If you also want to delete Invoice, please make sure you delete in a reverse sequence. For example: If you created Shipment first, then you have to delete Invoice first. This is to maintain the correct Order Status');
echo '</span>
			</td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    <form id="delete_shipment" name="delete_shipment" method="post" action="';
echo $this->getUrl('*/*/delete');
echo '">
        <input name="form_key" type="hidden" value="';
echo Mage::getsingleton('core/session')->getFormKey();
echo '" />
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Single Shipment');
echo '</h4>
        <fieldset id="vjt-single-shipment">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label">';
echo $this->__('Shipment ID');
echo '</td>
                    <td class="value"><input class="input-text" name="shipment" /></td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to previous number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleShippingReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="singleShipmentReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <h4 class="icon-head head-edit-form fieldset-legend">';
echo $this->__('Multiple Shipments');
echo '</h4>
        <fieldset id="vjt-multiple-shipment">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td colspan="3">
                        ';
echo '<s';
echo 'pan>';
echo $this->__('Note: The Shipment ID numbers must be continous! If you put discontinous Shipment IDs, the process will stop at the unavailable Shipment ID');
echo '</span><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Shipment ID From:');
echo '</td>
                    <td class="value"><input class="input-text" name="shipmentfrom" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Shipment ID To:');
echo '</td>
                    <td class="value"><input class="input-text" name="shipmentto" /></td>
				</tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to number right before the "Shipment ID From" number?');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleShipmentReset">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">';
echo $this->__('Reset Increment ID back to 0');
echo '</td>
                    <td class="value">
                    ';
echo '<s';
echo 'elect class="select" name="multipleShipmentReset0">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                    </td>
                </tr>
			</table>
        </fieldset>
	</form>
</div>
';
echo '<s';
echo 'cript type="text/javascript">
    var deleteShipment = new varienForm(\'delete_shipment\');
</script>';
